body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

main {
    width: clamp(8cm, 80%, 30cm);
    min-height: 50vh;
}

h1 {
    text-align: center;
}

label {
    font-size: 0.5rem;
    margin-right: 0.5rem;
}

label>div {
    font-size: 1rem;
}

button {
    margin-left: 0.15rem;
}

.box {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem;
}

.line {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    min-width: 0;
    align-items: start;
}

.line.line {
    flex-flow: wrap;
}

.line-justify-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem;
}

dialog {
    border: transparent;
}

.modal-background {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-box {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    position: relative;
}

.modal-content {
    margin: 2rem;
}

.modal-delete-button-div {
    position: absolute;
    top: 0;
    right: 0;
    margin: 3px;
}

.modal-delete-button-div>button {
    background-color: transparent;
    border-color: transparent;
}

.modal-delete-button-div>button:hover {
    background-color: rgb(208, 208, 215);
}

input {
    width: 100%;
}

input[type="radio"] {
    width: auto
}

.no-overflow {
    min-width: 0;
    overflow-wrap: break-word;
}

